*.log
.DS_Store
choirur-ridwan5/.env
choirur-ridwan5/.env.backup
choirur-ridwan5/.env.production
.phpactor.json
.phpunit.result.cache
.fleet
.idea
.nova
.phpunit.cache
.vscode
.zed
auth.json
choirur-ridwan5/node_modules
choirur-ridwan5/public/build
choirur-ridwan5/public/hot
choirur-ridwan5/public/storage
choirur-ridwan5/storage/*.key
choirur-ridwan5/storage/pail
choirur-ridwan5/vendor
Homestead.json
Homestead.yaml
Thumbs.db
.agents
